* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1440px;
  padding: 0px 32px;
}

.light {
  color: lightblue;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.menu-left {
  top: 0px !important;
  transition: 0.5s !important;
}

.light-mode {
  background-color: black;
}
.light-mode header {
  background-color: gray;
  box-shadow: 0px 6px 9px 6px rgba(255, 255, 255, 0.2);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

body {
  font-family: "Poppins", sans-serif;
}
body header {
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 3px 2px 19px 3px rgba(34, 60, 80, 0.2);
  z-index: 1111;
}
body header .container nav {
  padding: 8px 0px;
  display: flex;
  justify-content: space-between;
}
body header .container nav .logo a {
  display: flex;
}
body header .container nav .logo a img {
  width: 45px;
  height: 45px;
}
body header .container nav .logo a img.original {
  margin-top: 5px;
  width: 10px;
  height: 10px;
}
body header .container nav .logo a h3 {
  display: flex;
  padding-top: 8px;
  padding-left: 6px;
}
body header .container nav ul.menu {
  padding-top: 8px;
  display: flex;
  gap: 16px;
}
@media (max-width: 640px) {
  body header .container nav ul.menu {
    display: none;
  }
}
body header .container nav ul.menu li a {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}
body header .container nav ul.menu li a:hover {
  color: black;
  transition: 0.5s;
}
body header .container nav .dark-mode {
  margin-top: 4px;
  width: 32px;
  height: 32px;
  border: 1px solid black;
  border-radius: 50px;
  margin-right: -250px;
  cursor: pointer;
}
@media (max-width: 1160px) {
  body header .container nav .dark-mode {
    margin-right: -100px;
  }
}
@media (max-width: 840px) {
  body header .container nav .dark-mode {
    margin-right: 0px;
  }
}
@media (max-width: 740px) {
  body header .container nav .dark-mode {
    display: none;
  }
}
body header .container nav .dark-mode:hover {
  background-color: yellow;
  transition: 0.5s;
}
body header .container nav .dark-mode img {
  width: 20px;
  height: 20px;
  margin-top: 4px;
  margin-left: 5px;
}
body header .container nav .accaunt {
  border: 1px solid black;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
@media (max-width: 640px) {
  body header .container nav .accaunt {
    display: none;
  }
}
body header .container nav .accaunt img {
  width: 24px;
  height: 24px;
  margin-left: 7px;
  margin-top: 5px;
}
body header .container nav .toogle-btn {
  display: none;
  border-radius: 5px;
  border: 2px solid lightblue;
  width: 35px;
  height: 30px;
  margin-top: 4px;
  padding-left: 9px;
}
body header .container nav .toogle-btn i.fa {
  color: blue;
}
@media (max-width: 640px) {
  body header .container nav .toogle-btn {
    display: block;
  }
}
body .toogle-menu {
  position: fixed;
  top: 1150px;
  background-color: black;
  z-index: 11111;
  height: 100%;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 100px;
  box-shadow: 13px -2px 19px 3px rgba(0, 144, 255, 0.2);
  display: none;
}
@media (max-width: 640px) {
  body .toogle-menu {
    display: block;
  }
}
body .toogle-menu .container ul.toogle-menu li.logo {
  display: flex;
  justify-content: space-between;
  margin-top: -90px;
  margin-left: -50px;
  margin-bottom: 100px;
}
body .toogle-menu .container ul.toogle-menu li.logo img {
  width: 50px;
  height: 50px;
}
body .toogle-menu .container ul.toogle-menu li.logo h3 {
  display: flex;
  margin-top: 10px;
  margin-left: 16px;
}
body .toogle-menu .container ul.toogle-menu button.close {
  border: 3px solid blue;
  border-radius: 5px;
  background-color: red;
  padding: 4px 12px;
}
body .toogle-menu .container ul.toogle-menu button.close img {
  color: red;
  width: 16px;
  height: 16px;
}
body .toogle-menu .container ul.toogle-menu li {
  margin-bottom: 16px;
}
body main {
  padding-top: 120px;
  padding-bottom: 120px;
}
body main .container section h1 {
  display: flex;
  font-size: 35px;
  line-height: 42px;
}
body main .container section .row {
  margin-top: 20px;
  justify-content: space-around;
}
body main .container section .row .col-3 {
  width: 300px;
  border-radius: 5px;
}
@media (max-width: 963px) {
  body main .container section .row .col-3 {
    margin-bottom: 80px;
  }
}
body main .container section .row .col-3 .col-head img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid lightblue;
}
body main .container section .row .col-3 .col-bottom {
  margin-top: -8px;
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
}
body main .container section .row .col-3 .col-bottom ul hr {
  position: relative;
  top: 14px;
  height: 3px;
  color: red;
  background-color: red;
  border: 1px solid red;
  transform: rotate(-15deg);
}
body main .container section .row .col-3 .col-bottom ul li {
  display: flex;
}
body main .container section .row .col-3 .col-bottom ul li p {
  font-weight: 500;
}
body main .container section .row .col-3 .text {
  padding: 10px 16px 10px 16px;
  background-color: lightblue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
body main .container section .row .col-3 .text p.about {
  color: blue;
  font-weight: 700;
}
body main .container section .row .col-3 .text p.text {
  color: black;
  font-weight: 600;
}
body main .container section .row .col-3 .text button.click {
  background-color: blue;
  border-radius: 5px;
  border: none;
  padding: 8px;
  margin-left: 60px;
}
body main .container section .row .col-3 .text button.click a {
  color: red;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
body .ev-cars {
  padding-bottom: 120px;
}
body .ev-cars .container h1 {
  display: flex;
}
body .ev-cars .container .row {
  margin-top: 20px;
  justify-content: space-around;
}
body .ev-cars .container .row .col-3 {
  width: 300px;
  border-radius: 5px;
}
@media (max-width: 963px) {
  body .ev-cars .container .row .col-3 {
    margin-bottom: 80px;
  }
}
body .ev-cars .container .row .col-3 .col-head img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid lightblue;
}
body .ev-cars .container .row .col-3 .col-bottom {
  margin-top: -8px;
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
}
body .ev-cars .container .row .col-3 .col-bottom ul hr {
  position: relative;
  top: 14px;
  height: 3px;
  color: red;
  background-color: red;
  border: 1px solid red;
  transform: rotate(-15deg);
}
body .ev-cars .container .row .col-3 .col-bottom ul li {
  display: flex;
}
body .ev-cars .container .row .col-3 .col-bottom ul li p {
  font-weight: 500;
}
body .ev-cars .container .row .col-3 .text {
  padding: 10px 16px 10px 16px;
  background-color: lightblue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
body .ev-cars .container .row .col-3 .text p.about {
  color: blue;
  font-weight: 700;
}
body .ev-cars .container .row .col-3 .text p.text {
  color: black;
  font-weight: 600;
}
body .ev-cars .container .row .col-3 .text button.click {
  background-color: blue;
  border-radius: 5px;
  border: none;
  padding: 8px;
  margin-left: 60px;
}
body .ev-cars .container .row .col-3 .text button.click a {
  color: red;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
body .suv-cars {
  padding-bottom: 120px;
}
body .suv-cars .container h1 {
  display: flex;
}
body .suv-cars .container .row {
  margin-top: 20px;
  justify-content: space-around;
}
body .suv-cars .container .row .col-3 {
  width: 300px;
  border-radius: 5px;
}
@media (max-width: 963px) {
  body .suv-cars .container .row .col-3 {
    margin-bottom: 80px;
  }
}
body .suv-cars .container .row .col-3 .col-head img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid lightblue;
}
body .suv-cars .container .row .col-3 .col-bottom {
  margin-top: -8px;
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
}
body .suv-cars .container .row .col-3 .col-bottom ul hr {
  position: relative;
  top: 14px;
  height: 3px;
  color: red;
  background-color: red;
  border: 1px solid red;
  transform: rotate(-15deg);
}
body .suv-cars .container .row .col-3 .col-bottom ul li {
  display: flex;
}
body .suv-cars .container .row .col-3 .col-bottom ul li p {
  font-weight: 500;
}
body .suv-cars .container .row .col-3 .text {
  padding: 10px 16px 10px 16px;
  background-color: lightblue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
body .suv-cars .container .row .col-3 .text p.about {
  color: blue;
  font-weight: 700;
}
body .suv-cars .container .row .col-3 .text p.text {
  color: black;
  font-weight: 600;
}
body .suv-cars .container .row .col-3 .text button.click {
  background-color: blue;
  border-radius: 5px;
  border: none;
  padding: 8px;
  margin-left: 60px;
}
body .suv-cars .container .row .col-3 .text button.click a {
  color: red;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
body header.footer {
  position: fixed;
  bottom: 0px;
  display: none;
  z-index: 1111;
}
@media (max-width: 640px) {
  body header.footer {
    display: block;
  }
}
body header.footer .container nav {
  padding: 8px 0px;
  display: flex;
  justify-content: space-between;
}
body header.footer .container nav .dark {
  margin-top: 4px;
  width: 32px;
  height: 32px;
  border: 1px solid black;
  border-radius: 50px;
  margin-right: -250px;
  cursor: pointer;
}
body header.footer .container nav .dark:hover {
  background-color: yellow;
  transition: 0.5s;
}
body header.footer .container nav .dark img {
  width: 20px;
  height: 20px;
  margin-top: 4px;
  margin-left: 5px;
}
body header.footer .container nav .acc {
  border: 1px solid black;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
body header.footer .container nav .acc img {
  width: 24px;
  height: 24px;
  margin-left: 7px;
  margin-top: 5px;
}